*,
* ::after,
* ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(98, 128, 173, 0.884);
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    width: 500px;
    margin: 100px 0px auto;
}

.wrapper input {
    width: 90%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
    font-size: 20px;
}

.wrapper button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 16px;
}

.wrapper button:active {
    background-color: rgb(196, 195, 195);
}

.container>ul {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
}

.container>ul>li {
    width: 340px;
    list-style: none;
    padding: 5px 10px;
    font-size: 25px;
    background-color: rgb(164, 231, 231);
    border-radius: 5px;
    margin: 5px 0;
}